apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-sample-app
  namespace: demo
  labels:
    app: nginx-sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-sample-app
  template:
    metadata:
      labels:
        app: nginx-sample-app
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: nginx-html
